.room-code {
    display: flex;
    height: 4rem;
    border-radius: .8rem;
    overflow: hidden;

    background-color: #fff;
    border: 1px solid #835afd;

    cursor: pointer;

    div {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        
        background-color: #835afd;
    }

    span {
        display: block;
        align-self: center;
        flex: 1;
        width: 23rem;

        padding-right: 1.6rem;
        padding-left: 1.2rem;

        font-size: 1.4rem;
        font-weight: 500;
    }

}